$primary: #fff8f1;
$green: #B0B98B;
$pink: #f0d1cf;
$blue: #c1d6e7;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.hidden{
    display: none;
}

.dancing-script-title {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
