@import "../colors";

.canva {
  width: 100vw;
  height: 100vh;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    width: 98%;
    height: 98%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    &::after {
      width: 100%;
      height: 100vh;
      top: 0;
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(255, 247, 248, 0.3);
    }
    .info {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: height 3s;
      .details {
        padding: 10px 25px;
        z-index: 3;
        text-align: center;
        // overflow-y: scroll;
        > p {
          > span {
            font-weight: 700;
          }
        }
        .button {
          text-decoration: none;
          display: inline-block;
          background-image: linear-gradient(
            45deg,
            hsl(4deg 52% 88%) 0%,
            hsl(353deg 49% 88%) 11%,
            hsl(341deg 43% 87%) 22%,
            hsl(326deg 35% 86%) 33%,
            hsl(302deg 25% 85%) 44%,
            hsl(273deg 29% 86%) 56%,
            hsl(248deg 32% 87%) 67%,
            hsl(228deg 38% 86%) 78%,
            hsl(215deg 43% 85%) 89%,
            hsl(207deg 44% 83%) 100%
          );
          border: none;
          padding: 10px;
          color: $primary;
          border-radius: 10px;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        }
      }

      .title {
        z-index: 3;
        text-align: center;
        font-size: 50px;
        position: relative;
        color: $green;
        > span {
          display: block;
          line-height: 0.75;

          &.h2 {
            font-size: 130px;
            transition: font-size 3s;

            &.pink {
              color: $pink;
            }
            &.blue {
              color: $blue;
            }
          }
        }
      }
    }
    .animals {
      width: 100%;
      height: 30%;
      position: absolute;
      left: 0;
      bottom: 0;
      // background: pink;
      .cloudyText {
        position: absolute;
        width: 37%;
        font-size: 15px;
        /* background: pink; */
        top: -62%;
        z-index: 5;
        left: 18%;
        opacity: 0;
          transition: opacity 3s 3s;
        &.blue{
          left: unset;
          right: 12%;
          top: -29%;
          transition: opacity 3s 2s;
        }
      }
      > img {
        max-width: 70%;
        position: absolute;
        max-height: 100%;
        bottom: -100%;
        &.giraffe {
          left: -5%;
          max-width: 50%;
          transition: bottom 3s;
        }
        &.lion {
          left: 50%;
          translate: -50%;
          max-width: 50%;
          transition: bottom 3s 1s;
        }
        &.elephant {
          right: -30%;
          transition: bottom 3s;
        }
        &.cloud {
          right: 0;
          bottom: 65%;
          z-index: 4;
          opacity: 0;
          transition: opacity 3s 2s;
          &.boy {
            left: 5%;
            bottom: 80%;
            max-width: 54%;
            transition: opacity 3s 3s;
          }
        }
      }
      &.in {
        .giraffe {
          bottom: -2%;
        }
        .lion {
          bottom: -5%;
        }
        .elephant {
          bottom: -5px;
        }
      }
    }

    @media (min-width: 768px) {
      .animals {
        height: 35%;
        > img {
          max-height: 100%;
          &.giraffe {
            left: 7%;
          }
          &.elephant {
            right: -5%;
          }
        }
      }
    }
    @media (min-width: 1024px) {
      width: 75%;
      height: 85%;
      .animals {
        height: 35%;
        > img {
          max-height: 100%;
          &.giraffe {
            left: 15%;
          }
          &.elephant {
            right: -5%;
          }
        }
      }
    }
    @media (min-width: 1300px) {
      width: 60%;
      height: 90%;
      .animals {
        height: 35%;
        > img {
          max-height: 100%;
          &.giraffe {
            left: 25%;
          }
          &.elephant {
            right: 15%;
          }
        }
      }
    }
    &.cloudy {
      .info {
        height: 50%;
        .title {
          > span {
            &.h2 {
              font-size: 120px;
            }
          }
        }
      }
      .animals {
        .cloudyText{
          opacity: 100%;
        }
        > img {
          &.cloud {
            opacity: 100%;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
